In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('spam.csv', encoding='latin1')

In [3]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1658,spam,RGENT! This is the 2nd attempt to contact U!U ...,NaN,NaN,NaN
1129,ham,So check your errors and if you had difficulti...,NaN,NaN,NaN
3810,ham,Excellent! Wish we were together right now!,NaN,NaN,NaN
3089,ham,Am going to take bath ill place the key in win...,NaN,NaN,NaN
68,spam,"Did you hear about the new \Divorce Barbie\""? ...",NaN,NaN,NaN

In [5]:
df.shape

(5572, 5)

In [6]:
# 1. Data Cleaning
# 2. EDA
# 3. Text Preprocessing
# 4. Model Building
# 5. Evaluation
# 6. Improvement
# 7. Website
# 8. Deploy

## 1.Data Cleaning

In [ ]:
df.info